<div class="miscellaneous">
  <h4>Awards and Honors</h4>
  <ul>
    <b>[Award]</b> JST ASPIRE Kyoto Workshop Poster Presentation Award (2025.7)<br>
    <b>[Award]</b> Ego4D Future Hand Prediction Challenge 2nd Place Award (2,000 USD) (2022.10)
  </ul>

  <h4>Grants and Scholarships</h4>
  <ul>
    <b>[Grant]</b> JST Broadening Opportunities for Outstanding young researchers and doctoral students in STrategic
    areas (2024.4 - 2026.3)<br>
    <b>[Grant]</b> JSPS Overseas Challenge Program for Young Researchers (2024)<br>
    <b> [Scholorship] </b> Amano Institute of Technology Scholarships for Doctoral Programs in Graduate Schools (2023.4
    - 2026.3)<br>
    <b>[Grant]</b> KLL Master's Program Research Grant (2022)<br>
    <b> [Scholorship] </b> Keio International Human Resource Development Funds for Study Abroad (2020)<br>
    <b> [Scholorship] </b> Keio International Human Resource Development Funds for Study Abroad (2019)<br>
    <b> [Scholorship] </b> JASSO Study Abroad Support Program (Dispatch Agreement) (2019)<br>
  </ul>


  <h4>Invited Talks</h4>
  <ul>
    <li>Multimodal Cross-Domain Few-Shot Learning for Egocentric Action Recognition @
      <a href="https://www.robots.ox.ac.uk/~vgg/" rel="external nofollow noopener" target="_blank">VGG, University of
        Oxford</a> (2024.11)
    </li>
    <li>Multimodal Cross-Domain Few-Shot Learning for Egocentric Action Recognition @
      <a href="https://uob-mavi.github.io/" rel="external nofollow noopener" target="_blank">MaVi, University of
        Bristol</a> (2024.6)
    </li>
  </ul>

  <h4>Conference Reviewer</h4>
  <ul>
    <li>CVPR 2025</li>
    <li>ICCV 2025</li>
  </ul>

  <h4>Journal Reviewer</h4>
  <ul>
    <li>International Journal of Computer Vision (<a href="https://link.springer.com/journal/11263"
        rel="external nofollow noopener" target="_blank">IJCV</a>)</li>
  </ul>

  <h4>Languages</h4>
  <ul>
    <li>Japanese (C2)</li>
    <li>English (C1)</li>
    <li>French (B2)</li>
  </ul>
</div>