<div class="miscellaneous">
  <h4>Invited Talks</h4>
  <ul>
    <li>Multimodal Cross-Domain Few-Shot Learning for Egocentric Action Recognition @
      <a href="https://www.robots.ox.ac.uk/~vgg/" rel="external nofollow noopener" target="_blank">VGG, University of
        Oxford</a>
    </li>
    <li>Multimodal Cross-Domain Few-Shot Learning for Egocentric Action Recognition @
      <a href="https://uob-mavi.github.io/" rel="external nofollow noopener" target="_blank">MaVi, University of
        Bristol</a>
    </li>
  </ul>

  <h4>Conference Reviewer</h4>
  <ul>
    <li>CVPR 2025</li>
    <li>ICCV 2025</li>
  </ul>

  <h4>Journal Reviewer</h4>
  <ul>
    <li>International Journal of Computer Vision (<a href="https://link.springer.com/journal/11263"
        rel="external nofollow noopener" target="_blank">IJCV</a>)</li>
  </ul>
</div>