<div class="miscellaneous">
  <h4>Invited Talks</h4>
  <ul>
    <li>Multimodal Cross-Domain Few-Shot Learning for Egocentric Action Recognition @ [VGG, University of
      Oxford](https://www.robots.ox.ac.uk/~vgg/)</li>
    <li>Multimodal Cross-Domain Few-Shot Learning for Egocentric Action Recognition @ [MaVi, University of
      Bristol](https://uob-mavi.github.io/people/)
    </li>
  </ul>

  <h4>Conference Reviewer</h4>
  <ul>
    <li>CVPR 2025</li>
  </ul>

  <h4>Journal Reviewer</h4>
  <ul>
    <li>International Journal of Computer Vision ([IJCV](https://link.springer.com/journal/11263))</li>
  </ul>
</div>